/*Body Color*/
body {
	font-family: 'Michroma', sans-serif;
}

.navbar-custom {
  background-color: #1d2120;
  border-radius: 0;
  margin-bottom: 0px;
 }

 #header-home {
  background-color: #1d2120;
  text-align: center;
  padding: 30px;
 }