/*Body Color*/
body {
	background-color: #003D7F;
	font-family: 'Michroma', sans-serif;
	color: #4CA1FF
}

/* Navigation Styling */
.navigation > a {
	color: #4CA1FF;
	font-size: 20px;
	text-decoration: none;
	font-family: 'Michroma', sans-serif;
}
.navigation {
	text-align: right;
}

/* Heading Block Styling */
.header {
	margin: auto;
  width: 30%;
  padding: 5px;
  background-color: #26507F;
	text-align: center;
	border-radius: 10px;
}
.name {
	font-family: 'Michroma', sans-serif;
	font-size: 50px;
	color: white;
}
.profile {
	heigt:200px;
	width: 200px;
	border-radius: 30px;
}
.social {
	height: 50px;
	width: 50px;
}

/* Body Styling */
.body {
	font-family: 'Michroma'; sans-serif;
}
a {
	text-decoration: none;
	color: black;
}

h2{
	font-family: 'Seaweed Script', cursive;
	color:orange;
}

/* Form Styling */
textarea {
	resize: none;
	border: 2px solid #0060CC;
	border-radius: 5px;
	height: 200px;
	width: 600px;
	outline: none;
}
